/* colores
primary #264653
secundary #2a9d8f
danger #e9c46a
info #f4a261
light #e76f51
*/

body {
    font-family: 'Roboto', sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    width: 95%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.mt-2 {
    margin-top: 2rem;
}

.logo {
    text-decoration: none;
    text-align: center;
    display: block;
    color: white;
    font-size: 3rem;
    padding: 1em;
    background-color: #264653;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5em;
    margin: 0 0.1em;
    border-radius: 0.5em;
    color: white;
}

.bt-primary {
    background-color: #264653;
}

.bt-secondary {
    background-color: #2a9d8f;
}

.bt-danger {
    background-color: #e9c46a;
}

.bt-info {
    background-color: #f4a261;
}
