<h1 class="text-center text-primary">Nombre del usuario</h1>
<p class="text-center lead">Edite tu perfil</p>
<div class="my-2 text-center">
  <picture>
    <img src="/img/perfiles/perfil.jpg" alt="beira do lago com pedras" />
    <img src="https://picsum.photos/200" alt="aleatorio" />
  </picture>
</div>