.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

.border {
    border: 2px #666 solid;
}

.item {
    background-color: peru;
    border: 2px #666 solid;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.container-flex {
    display: flex;
}

.direction1 {
    flex-direction: column;
}

.direction2 {
    flex-direction: column-reverse;
}

.direction3 {
    flex-direction: row; /*padrão já aplicado pelo navegador, não precisa ser redigido*/
}

.direction4 {
    flex-direction: row-reverse;
}

.w-200 {
    width: 200px;
}

.w-300 {
    width: 300px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-end {
    justify-content: start;
}

.justify-content-space-between{
    justify-content: space-between;
}

.justify-content-space-aroud{
    justify-content: space-around;
}

.justify-content-space-evenly{
    justify-content: space-evenly;
}
.h-700 {
    height: 700px;
}

.h-300 {
    height: 300px;
    padding: 50px;
}

.align-iten-stretch {
    align-items: stretch;
}

.align-iten-flex-end {
    align-items: flex-end;
}

.align-iten-center {
    align-items: center;
}

.align-iten-baseline {
    align-items: baseline;
}

.align-content-flex-start {
    align-items: center;
    align-content: flex-start;
}

.align-content-flex-end {
    align-items: center;
    align-content: flex-end;
}

.align-content-space-between {
    align-items: center;
    align-content: space-between;
}

.align-content-space-around {
    align-items: center;
    align-content: space-around;
}

.align-content-space-evenly {
    align-items: center;
    align-content: space-evenly;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}
.order-2 {
    order: 2;
}
.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-basis-50 {
    flex-basis: 50%;
}