<form action="/" method="post">
<input type="text" placeholder="Ingrese tu URL" class="form-control my-2" name="origin">
<button type="submit" class="btn btn-primary w-100 mb*2">Agregar URL</button>
</form>